
<%- include("header.ejs") -%> 

<div class="container-fluid main-about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 left-about">
                    
                        <img class="img-fluid" style="width: 92%; height: 57%;" src="/images/hacker.jpg" alt="error404">
        
                </div>

                <div class="col-md-6 col-12 right-about">

                    <h1>I am a MERN stack Developer from India. And soon my interest is towards CyberSecurity also thoda thoda.</h1>

                </div>
                    
                
            </div>

            

        </div>
    </div>
</div>





<%- include("footer.ejs") -%>