
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:"",serif;
}

:root{
  --main-bg:#1e272e;
  --main-color:#0097e6;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
}

.main_menu{
     background-color: var(--main-bg) 
}

.navbar{
    
     background-color: var(--main-bg); 
    padding: 2rem;
    font-size: 1.5rem;
}

.navbar a{
    color: #0097e6;
}


.navbar-nav li{
    margin-left: 2rem;
}

.left-home{
    height:40rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
   }

.left-home p{
    font-size:2rem;
   }

   .left-home h1{
    font-size: 4rem;
    margin: 1rem 0rem 4rem 0;
    text-transform: capitalize;
   }
    
/* .right-home{
    height:40rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
} */

.right-home{
    height: 30rem;
    margin-top: 5%;
    display: flex;
}



.text-clr{
    color: #0097e6;
}

.left-home button{
    border:none;
padding:0.8rem 1.8rem;
font-size:1.4rem;
border-radius:2rem;
text-transform:uppercase;
box-shadow:0 8px 6px -6px#000;
outline:none;
}

.left-home button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.left-home input{
    border:none;
    background-color: #1e272e;
    color: #0097e6;
padding:0.8rem 1.8rem;
font-size:1.4rem;
border-radius:2rem;
text-transform:uppercase;
box-shadow:0 8px 6px -6px#000;
outline:none;

}

.left-home input:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}


footer{
    width: 100%;
    background-color: #1e272e;
    color: #fff;
    text-align: center;
    color: #0097e6;
    margin-top: auto;
    position: fixed;
}

footer p{
    margin-top: 2px;
}


/* responsive code */

@media (max-width: 768px){
    .right-home{
        margin-top: 0;
        height: auto;
    }

    .left-home{
        height: auto;
        margin: 1rem 0;
    }

    .left-home button{
        margin-top: 2%;
        color: var(--main-color);
    }

    .right-about{
        margin: 0%;
      
        height: auto;
        width: auto;
        margin-bottom: 3%;
        padding-bottom: 3%;
    }

    .left-about{
        height: 10rem;
        margin: 1rem 0;
    }
}


.left-about{
    height:40rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
   }

   .right-about{

        height:auto;
        
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }

   